[submodule "themes/ksucs-hugo-theme"]
	path = themes/ksucs-hugo-theme
	url = https://github.com/russfeld/ksucs-hugo-theme.git
[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/ksu-cs-textbooks/hugo-theme-relearn.git
